@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway' ,sans-serif;
    font-size: 16px;
}
main{
    background-color: #dcdcdc;
    height: 100vh;
}
.app{
    font-family: 'Raleway' ,sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
}